extends ../layout

block content
  .row
    .col-md-12
      .card
        .card-title List of Customers
        .card-body
          .table-responsive
            table.table.table-hover
              thead
                tr
                  th #
                  th Name
                  th Occupation
                  th Actions

              tbody
                each customer in customers
                  tr
                    th(scope="row")= customer.id
                    td= customer.name
                    td= customer.occupation
                    td
                      a.btn.btn-info(href="/customers/"+customer.id) View